<!-- <p>Danger</p> -->
<div style="background-color: #EA5A0B; height: 40px;">
    <p style="color: white; position: relative; top: 7px; left: 10px" >Danger</p>
    </div>
<table class="table table-striped">
  <thead>
  <tr>
    
    <th scope="col">Info</th>
    <th scope="col">Contenu</th>
  </tr>
  </thead>
  <tbody>
        <tr >
    
                <td>
                  Date
                </td>
                <td>{{childMarker.date}}</td>
              </tr>
        <tr >
    
                <td>
                  Collecteur
                </td>
                <td>{{childMarker.collecteur}}</td>
              </tr>
             
      <tr >
            <td>
                Longitude
            </td>
            <td>{{childMarker.longitude}}</td>
        </tr>
        <tr >
            <tr >
          
                <td>
                    Latitude
                </td>
                <td>{{childMarker.latitude}}</td>
            </tr>
      <tr >
    
      <td>
          Nom 
      </td>
      <td>{{childMarker.nom}}</td>
  </tr>

  <tr >
    
      <td>
          Type
      </td>
      <td>{{childMarker.type}}</td>
  </tr>
  <tr >
    
        <td>
            Note
        </td>
        <td>{{childMarker.note}}</td>
    </tr>
    
  
  </tbody>
</table>
<button class="btn btn-lg btn-primary btn-block" (click)="delete(childMarker.id)" [style.background-color]="color" style="margin-left: 0; position: relative; width: 300px; "   >Supprimer cette collecte</button>
